#root {
    width: 640px;
    height: 480px;
}

#awards li {
    background-position: center center;
}

.content {

}

.update-box {
  width: 300px;
  height: 400px;
  background-color: black;
  position:absolute;
  top:200px;
  right:50px;
}

#viewer-screen {
  display: table;
  height: 480px;
  margin: 5%;
  width: 90%;
}
#root {
  display: table-cell;
  vertical-align: top;
  width: 75%;
}
#viewer-filter {
  display: table-cell;
  vertical-align: top;
  width: 25%;
}
.filter-title {
  font-size: 14px;
  text-align: center;
}
#viewer-filter ul {
  list-style: none;
  padding: 0;
}
#viewer-filter li {
  float: left;
  margin: 5%;
  width: 40%;
}

.listing-banner--inner {
  width : 100% !important;
  padding : 0px !important;
}

.cards--card {
  height: 150px;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  position : absolute;
  bottom: 200px;
}

.cards--card .card-description {
      font-size : 26px !important;
      padding-left: 50px;
}

.cards--card .card-name {
      font-size : 26px !important;
      padding-left: 50px;
}

.card-inner--text {
      color: white !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      flex: 1 2 auto !important;
      padding: 0 20px !important;
      padding-top: 30px !important;
      opacity: 0.6;
}


.btn.btn-large {
    font-size: 26px !important;
}
